# Core Dependencies
PyQt6>=6.7.1
python-dateutil>=2.9.0.post0
loguru>=0.7.3
configparser>=5.3.0
pathlib>=1.0.1

# Testing Dependencies
pytest==8.3.4
pytest-qt==4.4.0
pytest-cov>=6.0.0
pytest-mock>=3.14.0

# Development Tools
black>=23.12.1
flake8>=6.1.0
mypy>=1.8.0
